.calendar-wrapper {
  width: 100%;
}

.week-bar {
  width: 100%;
  height: 26px;
  display: flex;
}

.week-bar div {
  flex-grow: 1;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
}

.week-bar div:nth-child(1 + 7) {
  color: red;
}

.month-bar {
  width: 100%;
  height: 33px;
  color: #212121;
  background-color: #f7f7f7;
  font-size: 14px;
  line-height: 33px;
  text-align: center;
}