.header-wrapper {
  height: 44px;
  width: 100%;
  background: #00c9e2;
  display: flex;
}

.header-right-arrow {
  height: 100%;
  width: 40px;
  text-align: center;
  line-height: 44px;
  color: #fff;
}

.header-title {
  flex: 1;
  margin-right: 40px;
  text-align: center;
  line-height: 44px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}